[Unit]
Description=Grlx Farmer
After=network-online.target
Documentation=https://grlx.org

[Service]
Type=simple
User=farmer
Group=farmer
ExecStart=/usr/local/bin/grlx-farmer
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
