on: 
  push:
    branches: [ master ]
  schedule:
    - cron: '23 13 * * 1'

jobs:
  govulncheck_job:
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
           go-version-input: 1.21
           go-package: ./...
